/* Toggle button bar */
.grow-doc-header {
    background: #f1f1f1;
    padding-left: 4px;
    border-bottom: 1px solid #ccc;
}
.pmw_container{padding: 0 2px 0 0;}
.grow-doc-toggle {
    background: #2271b1;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 14px;
}
/* Iframe takes remaining height */
.grow-doc-iframe {
    width: 100%;
    height: calc(100vh - 92px); /* 60px = header height */
}
.grow-doc-iframe iframe {
    width: 100%;
    height: 100%;
    border: 0;
}
.grow-custom-header .pmw_main-top-menu{
  display: inline-flex;
  width: 80%;
  margin: 0;
  margin-top: 1px;
  background-color:inherit;
}
.grow-custom-header .pmw_main-tab-link{
  padding: 8px;
}